# Logs
logs
*.log
npm-debug.log*
.DS_Store

# Editor files
.vscode/

# Dependency directories
node_modules/
jspm_packages/

# Secret key for stripe server
src/rest-server/config/stripe/index.js

# Build files
dist/