.footer {
  text-align: center;
  width: 100%;
  background-color: $color-purple;
  &__logo {
    color: $color-white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 2rem 0;
    font-weight: normal;
    @include respond(phone) {
      font-size: 2.5rem;
    }
    @include respond(small) {
      font-size: 3rem;
    }
  }
  &__container {
    border-top: solid $color-white thin;
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    width:100%; 
    justify-content: space-around; 
    @include respond(phone) {
      padding-right: 3rem;
      padding-left: 3rem;
      max-width: 100%;
    }
    @include respond(small) {
    }
    &--form {
      width: 30%; 
      color: $color-white;
      display: inline-block;
      font-size: 1.25rem;
      @include respond(phone) {
        font-size: 2rem;
      }
    }
    &--application {
      width: 30%;
      color: $color-white;
      font-size: 1.25rem;
      @include respond(phone) {
        font-size: 2rem;
        position: relative;
        left: 0;
      }
    }
    &--social {
      display: inline-block;
      & a {
        color: $color-white;
      }
      @include respond(small) {
        display: block;
        margin: 1rem 0;
      }
    }
  }
}

.email {
  position: relative;
  &__icon {
    @include respond(tab-port) {
      font-size: 1.3rem;
    }
    @include respond(phone) {
      font-size: 1.7rem;
    }
  }
  &__address {
    position: absolute;
    top: 1rem;
    font-size: 3;
    opacity: 0.1;
    @include respond(tab-port) {
      top: 1.6rem;
      left: -0.1rem;
      font-size: 2.7;
    }
    @include respond(phone) {
      top: -1rem;
      font-size: 2;
      position: relative;
    }
  }
}
